---
import { Image } from "astro:assets";
import AboutMe from "../assets/images/aboutme.svg";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/Layout.astro";

const description = `
   <p class="text-neutral-300 indent-8">Soy ingeniero informático multimedia con experiencia en desarrollado web. He trabajado con tecnologías como React, Redux, TypeScript, Angular, Java, Spring Boot, NestJS y MySQL. Además, tengo experiencia en metodologías ágiles, específicamente aplicando Scrum y en el uso herramientas como Jira, Git, BitBucket y Azure DevOps, para la gestión de proyectos, control de versiones, integración continua y desarrollo colaborativo.</p>
  <p class="text-neutral-300 py-7 indent-8">Desde siempre, he creído que el compromiso y la responsabilidad son los cimientos de cualquier camino al éxito. A lo largo de mi vida profesional, he construido relaciones basadas en la confianza y el trabajo en equipo, entendiendo que los mejores logros no se alcanzan en solitario, sino con la colaboración y el apoyo mutuo. La empatía me ha permitido conectar con quienes me rodean, aprender de ellos y aportar lo mejor de mí en cada desafío.</p>
  <p class=" text-neutral-300 indent-8">Durante, aproximadamente, siete años, trabajé en el sector de telecomunicaciones, conectividad y redes, donde desarrollé una gran capacidad de adaptación. Me enfrenté a entornos exigentes, equipos multidisciplinarios y tecnologías en constante evolución. Pero, aunque disfrutaba mi trabajo, había una pasión que latía en mí con fuerza: la programación. Sabía que cambiar de rumbo no sería sencillo, pero también sabía que la perseverancia y el aprendizaje continuo son herramientas poderosas.</p>
  <p class="text-neutral-300 py-7 indent-8">Con esa convicción, decidí dar un giro a mi carrera. No importaba la edad ni los obstáculos, porque la determinación pesa más que cualquier barrera. Fueron años de esfuerzo, de noches en vela, de equilibrar el aprendizaje con mis responsabilidades y familia. Y al final, logré mi meta: a los 37 años, obtuve mi título de ingeniero informático multimedia.</p>
  <p class="text-neutral-300 indent-8">Este logro no solo representa un cambio profesional, sino una prueba de que la constancia, la flexibilidad y la pasión pueden transformar cualquier sueño en realidad. Hoy, miro hacia atrás con orgullo, sabiendo que cada paso, cada reto y cada sacrificio valieron la pena. Porque nunca es tarde para reinventarse y demostrar que el esfuerzo y la dedicación siempre tienen su recompensa.</p>
  `;
---

<Layout title="Gerardo Gallardo Portafolio">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0">
    <Image
      src={AboutMe}
      class="relative z-30 w-2/4 my-10 rounded-xl mx-auto"
      loading="eager"
      decoding="auto"
      alt={"About Me"}
    />
    <PageHeading title="Sobre Mí" description={description} />
  </section>
</Layout>
