---
import { Image } from "astro:assets";
import Photo from "../assets/images/photo.png";
import Layout from "../layouts/Layout.astro";
import Separator from "../components/common/separator.astro";
import Projects from "../components/projects.astro";
import Services from "../components/service-section.astro";
---

<Layout title="Gerardo Gallardo Portafolio">
	<div
		class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
	>
		<div class="flex flex-col items-center md:flex-row">
			<div class="relative w-full md:w-2/3">
				<p
					class="mb-2 text-3xl font-semibold md:text-3xl lg:text-5xl text-white"
				>
					Hola, soy
				</p>
				<h1
					class="mb-8 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl text-white"
				>
					Gerardo Gallardo.
				</h1>
				<p class="mb-6 text-base text-neutral-300">
					Ingeniero informático multimedia, con experiencia en el desarrollo
					Full Stack de aplicaciones web.
				</p>
				<p class="mb-6 text-base text-neutral-300">
					Mi enfoque está orientado a la resolución de problemas, mejorando
					continuamente y aprendiendo de cada experiencia, y se basa en
					responsabilidad, empatía y adaptabilidad.
				</p>
				<span
					class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
				>
					<a
						href="https://www.linkedin.com/in/gerardo-gallardo-rodr%C3%ADguez-396193171/"
						target="_blank"
						class="text-neutral-400 hover:text-gray-100"
					>
						<span class="sr-only">LinkedIn</span>
						<svg
							class="w-6 h-6"
							fill="currentColor"
							version="1.1"
							id="Layer_1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							viewBox="-143 145 512 512"
							xml:space="preserve"
							stroke="#ffffff"
							aria-hidden="true"
							><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
								id="SVGRepo_tracerCarrier"
								stroke-linecap="round"
								stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
								<g>
									<path
										d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M272.8,560.7 c-20.8,20.8-44.9,37.1-71.8,48.4c-27.8,11.8-57.4,17.7-88,17.7c-30.5,0-60.1-6-88-17.7c-26.9-11.4-51.1-27.7-71.8-48.4 c-20.8-20.8-37.1-44.9-48.4-71.8C-107,461.1-113,431.5-113,401s6-60.1,17.7-88c11.4-26.9,27.7-51.1,48.4-71.8 c20.9-20.8,45-37.1,71.9-48.5C52.9,181,82.5,175,113,175s60.1,6,88,17.7c26.9,11.4,51.1,27.7,71.8,48.4 c20.8,20.8,37.1,44.9,48.4,71.8c11.8,27.8,17.7,57.4,17.7,88c0,30.5-6,60.1-17.7,88C309.8,515.8,293.5,540,272.8,560.7z"
									></path>
									<rect x="-8.5" y="348.4" width="49.9" height="159.7"></rect>
									<path
										d="M15.4,273c-18.4,0-30.5,11.9-30.5,27.7c0,15.5,11.7,27.7,29.8,27.7h0.4c18.8,0,30.5-12.3,30.4-27.7 C45.1,284.9,33.8,273,15.4,273z"
									></path>
									<path
										d="M177.7,346.9c-28.6,0-46.5,15.6-49.8,26.6v-25.1H71.8c0.7,13.3,0,159.7,0,159.7h56.1v-86.3c0-4.9-0.2-9.7,1.2-13.1 c3.8-9.6,12.1-19.6,27-19.6c19.5,0,28.3,14.8,28.3,36.4v82.6H241v-88.8C241,369.9,213.2,346.9,177.7,346.9z"
									></path>
								</g>
							</g></svg
						>
					</a>

					<a
						href="https://github.com/GerardoEgR"
						target="_blank"
						class="text-neutral-400 hover:text-gray-100"
					>
						<span class="sr-only">GitHub</span>
						<svg
							class="w-6 h-6"
							fill="currentColor"
							viewBox="0 0 24 24"
							aria-hidden="true"
							><path
								fill-rule="evenodd"
								d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
								clip-rule="evenodd"></path></svg
						>
					</a>
				</span>
			</div>
			<div
				class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
			>
				<div class="relative z-50 w-full">
					<div
						class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
					>
						<span
							class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 rounded-full border-gray-950 bg-gray-950"
						>
							<span
								class="flex items-center justify-center w-full h-full border border-dashed rounded-full bg-gray-950 border-neutral-500"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="32"
									height="32"
									viewBox="0 0 64 64"
									><path
										fill="#A3A3A3"
										d="M5.946 30.785c-2.999 7.189 2.213 15.866 9.784 17.387c-5.9-3.962-9.584-10.327-9.784-17.387"
									></path><path
										fill="#A3A3A3"
										d="m15.73 48.172l-.184-.039c.023.006.078.015.184.039M2 44.261c.489 6.02 8.039 9.878 13.457 7.412C9.879 50.475 6.179 49.378 2 44.261m44.504-21.467c3.512-7.168-1.475-16.036-9.055-17.963c5.799 4.233 9.239 10.824 9.055 17.963m2.361-4.946c4.192-3.709 2.502-11.088-2.332-13.49c2.33 4.565 3.151 8.421 2.332 13.49"
									></path><path
										fill="#A3A3A3"
										d="M60.519 14.345a5.43 5.43 0 0 0-3.303-1.116c-7.206 0-8.498 9.386-10.097 13.05c0 0-7.389-15.469-9.959-20.573c-2.65-5.265-8.307-4.177-9.964-1.311C23.26.316 15.823 3.609 16.771 8.568c-5.104-.392-7.167 4.643-6.034 7.871c-3.945-.122-5.789 4.757-4.455 8.25c.069.182 7.073 13.966 8.959 18.662c.219.545.44 1.128.672 1.742c1.525 4.032 3.614 9.554 8.84 13.989C27.003 60.991 30.118 62 33.764 62c6.426 0 13.581-3.189 18.229-8.126c4.163-4.421 6.158-9.848 5.77-15.695c-.348-5.256 1.324-10.208 2.667-14.188c1.457-4.319 2.607-7.731.089-9.646m-5.947 23.66c.813 11.628-10.842 21.439-20.73 21.439c-3.021 0-6.15-.488-8.105-2.147c-5.606-4.758-7.013-10.646-8.638-14.684c-1.941-4.831-6.705-14.114-9.014-18.784c-.945-1.912.634-5.981 3.384-5.981L19.4 34.716l3.005 1.804s-6.882-14.998-9.061-20.167c-1.272-3.018.92-6.662 3.874-6.187l9.846 21.016l3.006 1.808L18.594 8.757c-.046-4.295 5.831-4.362 7.197-1.854c3.457 6.348 9.947 20.279 9.947 20.279l3.004 1.807L27.969 6.146c2.104-2.754 5.816-2.368 7.416.975c1.922 4.015 10.061 21.454 10.061 21.454c-8.035 3.012-13.52 11.743-7.777 20.35c-4.557-9.41 3.516-16.06 8.285-18.258c1.805-.833 2.469-2.408 2.469-2.408l-.004.001c.629-1.139.592-2.662 1.342-5.127c1.625-5.335 3.854-8.162 7.125-8.162c.754 0 1.704.564 2.14 1.207c2.203 3.251-5.21 11.023-4.454 21.827"
									></path></svg
								>
							</span>
						</span>
					</div>
					<div class="relative z-30 px-10">
						<Image
							src={Photo}
							loading="eager"
							decoding="auto"
							class="relative z-30 w-full aspect-[760/1189] md:max-w-md mx-auto dark:-translate-y-0.5 photo"
							alt={"Main Photo"}
						/>
					</div>
					<div
						class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r from-gray-950 via-gray-950 to-gray-950 border-neutral-500"
					>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Separator text="proyectos" />
	<Projects />
	<Separator text="propuestas personalizadas" />
	<Services />
</Layout>

<style>
	.photo {
		mask-image: linear-gradient(to left, black 80%, transparent),
			linear-gradient(to bottom, black 80%, transparent),
			linear-gradient(to right, black 80%, transparent);
		mask-composite: intersect; /* Aplica la intersección de todos los gradientes */
	}
</style>
