---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/common/card-niche-serv.astro";
import packs from "../collections/package-services.json";
---

<Layout title="Gerardo Gallardo Portafolio">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title="Servicios de Desarrollo Web" description="" />
    <p class="mb-6 text-base text-neutral-400">
      Diseñados para resolver los desafíos digitales que enfrentan los
      emprendimientos y las PYMEs, transformando tus ideas en una presencia
      digital efectiva y atractiva. Ofrezco paquetes adaptados a diferentes
      niveles de complejidad y desarrollo, enfocados en fortalecer la presencia
      online de tu negocio y facilitar su crecimiento en el mercado digital
      actual. Cada opción incluye herramientas y tecnologías avanzadas que te
      ayudarán a conectar con clientes, optimizar operaciones y destacar en un
      entorno cada vez más competitivo.
    </p>

    <div
      class="grid items-stretch w-full sm:grid-cols-2 md:grid-cols-3 gap-7 mt-12"
    >
      {
        packs.map((pack) => {
          return (
            <Card
              type={pack.type}
              pack={pack.pack}
              badges={pack.badges}
              benefits={pack.benefits}
            />
          );
        })
      }
    </div>
    <p class="mt-20 text-base text-neutral-400 text-center">
      <span class="font-bold sm:text-base lg:text-xl">
        ¿Tienes un proyecto en mente?
      </span>
    </p>
    <p class="mt-3 text-base text-neutral-400 text-center">
      <strong>✨ Hagámoslo realidad juntos. ✨ </strong>
    </p>
    <p class="mt-3 text-base text-neutral-400 text-center">
      Estaré encantado de ayudarte a dar vida a tus ideas.
    </p>
    <p class="mt-3 text-base text-neutral-400 text-center">
      📩 Solicita tu cotización y comencemos a construir algo increíble.
    </p>
    <p class="mt-3 text-base text-neutral-400 text-center">
      <span class="font-bold sm:text-base lg:text-2xl"> ¡Contáctame! </span>
    </p>
  </section>
</Layout>
