---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-gray-300 text-gray-950 hover:border-neutral-300 hover:bg-gray-950 hover:text-gray-300"
>
  {text}
</a>
